.App {
  text-align: center;
}

h1 {
  color: #006699;
  margin-top: 1rem;
  margin-left: 3rem;
}

.filepond {
  margin-top: 2rem;
  width: 60%;
  display: flex;
  margin-left: 25%;
}

.filepond--item {
  width: calc(50% - .5em);
}

@media (min-width: 30em) {
  .filepond--item {
      width: calc(50% - .5em);
  }
}

@media (min-width: 50em) {
  .filepond--item {
      width: calc(33.33% - .5em);
  }
}

@media (max-width: 580px) {
  h1 {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

@media (max-width: 450px) {
  h1 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

/*Pridať some mobile queries */

@media (max-width: 360px) {

}

.filepond--label-action {
  color:#333;
}

.drag {
  color:#333;
}

a.filepond--credits {
  visibility: hidden;
}